html,
body,
#root
.app{
  font-family: 'Nunito', sans-serif;
  height: 100%;
  width: 100%;
  background-color: #1f2026;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #242427;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

a{
  text-decoration: none;
  color: inherit;
}

.logo{
  display: flex;
  align-items: center;
  gap: 10px;
}